<div class="form-check mt-2">
    <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="auction-sell-allowed" {% if allowed %} checked{% endif %}>
        Allow sell at auction
    </label>
</div>
