{% for optionCode, optionName in list.options %}
    {% set isChecked = false %}
    {% if list.selected == optionCode %}
        {% set isChecked = true %}
    {% endif %}
    <div class="form-check">
        <label class="form-check-label" for="maximization-param-{{ optionCode }}">
            <input type="radio" class="form-check-input" id="maximization-param-{{ optionCode }}" name="maximization-param" value="{{ optionCode }}"{% if isChecked %} checked{% endif %}>{{ optionName }}
        </label>
    </div>
{% endfor %}
