{% extends 'layout.html.twig' %}

{% block title %}Devices{% endblock %}

{% block main %}
    <div class="text-right mb-3">
        <a href="{{ url('devices_new') }}" class="btn btn-primary btn-lg">New</a>
    </div>

    {{ include('_grid.html.twig', {grid: viewModel.grid}) }}
{% endblock %}
