<hr class="mt-4 mb-4">
<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">1SB:Trader Pro <small class="text-muted">by Valant13</small></p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="https://symfony.com/" target="_blank" rel="nofollow">Symfony</a></li>
        <li class="list-inline-item"><a href="https://bootswatch.com/" target="_blank" rel="nofollow">Bootswatch</a></li>
        <li class="list-inline-item"><a href="https://wiki.starbasegame.com/" target="_blank" rel="nofollow">Starbase wiki</a></li>
    </ul>
</footer>
