{% if notices %}
    <div class="card text-white bg-info mb-3">
        <div class="card-body">
            {% for notice in notices %}
                <p class="card-text">{{ notice }}</p>
            {% endfor %}
        </div>
    </div>
{% endif %}
