<div class="form-group">
    <label for="marketplace-price">Marketplace price:</label>
    <input type="number" class="form-control" id="marketplace-price" name="marketplace-price" value="{{ viewModel.marketplacePrice }}">
</div>
<div class="form-group">
    <label for="image-url">Image URL:</label>
    <input type="url" class="form-control" id="image-url" name="image-url" value="{{ viewModel.imageUrl }}">
</div>
<div class="form-group">
    <label for="wiki-page-url">Wiki page URL:</label>
    <input type="url" class="form-control" id="wiki-page-url" name="wiki-page-url" value="{{ viewModel.wikiPageUrl }}">
</div>
