{% extends 'base.html.twig' %}

{% block body %}
    {% block header %}{% endblock %}
    {% block sticky_header %}{% endblock %}
    <div class="row bg-primary h-100">
        <main class="col-md-6 offset-md-3 bg-light pt-3">
            {% block main %}{% endblock %}
        </main>
    </div>
    {% block footer %}{% endblock %}
{% endblock %}
