{% extends 'base.html.twig' %}

{% block body %}
    {% block header %}
        {{ include('_navbar.html.twig') }}
    {% endblock %}
    <div class="container-fluid">
        <div class="row bg-light min-vh-100">
            <main class="col-md-6 bg-white offset-md-3 pt-4" style="margin-top: 48px">
                {% block main %}{% endblock %}
                {% block footer %}
                    {{ include('_footer.html.twig') }}
                {% endblock %}
            </main>
        </div>
    </div>
{% endblock %}
